@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bungee&display=swap');

#about-header {
    text-align: center;
    padding: 50px;
    font-weight: bold;
    font-family: 'Staatliches', cursive;
}

#login-header {
    text-align: center;
    padding: 50px 10px 25px 10px;
    font-family: 'Staatliches', cursive;
}

#signup-header {
    text-align: center;
    padding: 50px 10px 25px 10px;
    font-family: 'Staatliches', cursive;
}

#login-page-container {
    position: relative;
    min-height: 100vh;
    text-align: center;
}

#login-container {
    top: -100px;
    position: relative;
    margin: auto;
    width: 40vw;
    height: 100%;
    display: inline-block;

}

#signup-container {
    position: relative;
    margin: auto;
    width: 40vw;
    height: 100%;
    display: inline-block;
}

#login-input-box {
    padding: 10px;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    background-color: #C2C2C0;
    border: 3px solid #1E2019;
    width: 55%;
    height: 100%;
    overflow-wrap: break-word;
}

#login-input-box:focus {
    outline-color: #BFAE48;
    outline-width: 5px;
}

#login-button {
    background-color: #C2C2C0;
    border: 3px solid #1E2019;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 25px;
    text-align: center;
    width: 20%;
    font-weight: bold;
}

#login-button:hover{
    color: #C2C2C0;
    background-color: #1E2019;
  }
  
  #login-button:focus {
    outline: none;
  }