.trail-tile {
  font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    margin: 5px;
    /* padding: 0px 5px 5px; */
    border: 4px solid #1E2019;
    /*border-radius: 10px;*/
    display: inline-block;
    width: 525px;
    user-select: none;
    background-color: #C2C2C0;
}

.trail-tile-header {
  right: 5px;
  height: 100px;
  border-bottom: 3px black solid;
}

.trail-tile-header:hover {
    /* box-shadow: 8px 8px 1px; */
    background-color: #ADAEAB;
}

.trail-tile-header .active-tile {
  cursor: pointer;
}

.active-tile {
  box-shadow: 8px 8px 1px #1E2019;
  max-height: 750px;
  transform: max-height 500ms ease-in;
}

.inactive-tile {
  box-shadow: 0 0;
  max-height: 100px;
  transform: max-height 500ms ease-out;
}

@keyframes smoothopen {
  0% {max-height: 100px;}
  50% {max-height: 750px;}
}

.info-div {
  max-width: 300px;
  padding-top: 5px;
  display: inline-block;
}

.condition-div {
  position: relative;
  display: block;
  margin-top: 10px;
  right: 25px;
  float: right;
  width: 180px;
} 

.condition-heading {
  display: inline-block;
  position: relative;
  top: -15px;
  padding-left: 15px;
  font-size: 15px;
  width: 100px;
  color: #1E2019;
}

.condition-square {
  display: inline-block;
  width: 45px;
  height: 45px;
  border: 4px solid;
}

.trail-heading {
  position: relative;
  display: block;
  color: #1E2019;
  overflow: hidden;
  padding-left: 5px;
}

.location-heading {
  color: #1E2019;
  position: relative;
  display: inline-block;
  padding-left: 10px;
}

.info-dropdown {
  text-align: left;
  display: grid;
  margin: 7px;
}

.info-grid h6{
  display: inline-block;
}

.map-div {
  display: block;
  border: 4px solid;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.other-info {
  visibility: visible;
  margin: 15px;
}

.last-updated-heading {
  margin-top: -10px;
  font-size: smaller;
}

.trail-tile:hover .view-trail-icon {
  visibility: visible;
}

.view-trail-icon:hover {
  transform: scale(1.2);
  opacity: 1;
  cursor: pointer;
}

.view-trail-icon {
  visibility: hidden;
  position: absolute;
  display: inline-block;
  width: 30px;
  margin-left: 15px;
  opacity: 0.75;
}

.outlook {
  height: 100%;
  display: inline-block;
  width: 85px;
  text-align: center;
}

.day-header {
  font-size: 15px;
  margin-bottom: 5px;
}

.temp-header {
  padding-top: 5px;
  font-size: 12px;
  margin: 0;
}

.weather-icon {
  height: 40px;
}

.weather-div {

}

.weather-outlook-div {
  overflow: hidden;
  height: 100px;
  display: block;
  border-bottom: 3px #1E2019 solid;
}

.today {
  font-weight: bold;
}

.trail-bulliten-board {
  cursor: default;
}

.trail-bulliten-messages {
  margin-top: 10px;
  background-color: #ADAEAB;
  /*padding: 5px 5px 5px 5px;*/
  border-left: 3px solid #1E2019;
  border-top: 3px solid #1E2019;
  border-right: 3px solid #1E2019;
  max-height: 250px;
  overflow-y: scroll;
}

.post-admin-author {
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 1px;
  padding-top: 1px;
  margin-right: 5px;
  background-color: #1E2019;
  /* box-shadow: 3px 3px #484848; */
  color: #BFAE48;
}

.post-admin-text {
  display: inline;
  padding-left: 5px;
}

.post-content {
  width: 100%;
  display: flex;
  background-color: #C2C2C0;
}

.post-content:not(:last-child) {
  border-bottom: 3px solid #484848;
}

.post-details {
  display: inline-block;
  width: 25%;
  vertical-align: top;
  padding: 5px;
  /* border-right: 3px solid #1E2019; */
  background-color: #ADAEAB;
}

.post-author {
  font-size: 15px;
  font-weight: bold;
}

.post-timestamp {
  font-size: 10px;
}

.post-message {
  display: inline-block;
  width: 75%;
  font-size: 15px;
  word-wrap: break-word;
  padding-left: 5px;
  margin: auto;
}

.bulliten-post-form {
  border: 3px solid #1E2019;
  width: 100%;
  height: 100%;
}

.bulliten-post-input {
  display: inline-block;
  background-color: #ADAEAB;
  border: 3px solid #ADAEAB;
  width: 85%;
  height: 100%;
  overflow-wrap: break-word;
}

.bulliten-post-input:focus {
  outline: 0;
}

.bulliten-post-input:focus > .bulliten-post-form {
  box-shadow: 3px 3px #484848;
}

.bulliten-post-button {
  background-color: #ADAEAB;
  border-top: 1px solid #ADAEAB;
  border-bottom: 2px solid #ADAEAB;
  border-right: 1px solid #ADAEAB;
  border-left: 1px solid #ADAEAB;
  width: 15%;
  float: right;
  font-weight: bold;
}

.bulliten-post-button:hover{
  color: #BFAE48;
  background-color: #1E2019;
  border-top: 1px solid #1E2019;
  border-bottom: 2px solid #1E2019;
  border-right: 1px solid #1E2019;
  border-left: 1px solid #1E2019;
}

.bulliten-post-button:focus {
  outline: none;
}

.weather-other-data-block {
  border-left: 3px solid #484848;
  background-color: #ADAEAB;
}

.weather-other-data-block:not(:last-child) {
  border-bottom: 3px solid #484848;
}