body {
  position: relative;
  margin: 0 0 0 1px;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  overflow: hidden;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  /*padding-bottom: 2.5rem;    /* Footer height */
}

#header {
  top: 0;
  background-color: white;
  border: 3px solid black;
  border-bottom: 5px solid black;
  height: 15vh;
}

#header img{
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
  align-content: center;
}

li a {
  display: block;
  color: black;
  text-align: center; 
  padding: 15px 30px 15px 30px;
  text-decoration: none;
  font-weight: bold;
}

li a:hover {
  background-color: black;
  color: white !important;
  cursor: pointer;
}


.active-left {
  border-left: 4px solid black;
}

.active-right {
  border-right: 4px solid black;
}

#sidebar {
  background-color: white;
  border: 3px solid black;
  border-top: 0;
  position: relative;
  display: block;
  width: 715px;
  overflow-y: auto;
  overflow-x: hidden;
  float: left;
  padding-top: 25px;
  padding-left: 5px;
}

#sidebar, #content {
  height: 80vh; 
}

.segment-status {
  padding-left: 350px;
  color: red;
}

.segment-difficulty {
  height: 25px; 
}

#content {
  background-color: white;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  overflow: hidden;
}

#footer {
  background-color: white;
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: 100%;/* Footer height */
  margin: 0 auto;
  border-left: 3px solid black;
  border-right: 3px solid black;
}

.trail-tile {
  overflow: hidden;
  margin: 5px;
  padding: 5px;
  border: 4px solid;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 0 0;
  width: 670px;
  max-height: 115px;
  transition: max-height 750ms ease-out;
} 

.active-tile {
  box-shadow: 8px 8px 1px;
  max-height: 750px;
  transition: max-height 750ms ease-in;
}

.info-div {
  display: inline-block;
}

.condition-div {
  position: absolute;
  display: inline-block;
  margin-top: 10px;
  right: -20px;
}

.trail-heading {
  position: relative;
  display: block;
  color: black;
}

.location-heading {
  position: relative;
  display: inline-block;
  padding-left: 6px;
}

.condition-heading {
  display: inline-block;
  position: absolute;
  top: 4px;
  padding-left: 15px;
  font-size: 25px;
}

.condition-sqaure {
  display: inline-block;
  width: 20%;
  border: 4px solid;
  border-radius: 7px;
}

.info-dropdown {
  text-align: left;
  display: grid;
  margin: 7px;
}

.info-grid h6{
  display: inline-block;
}

#segment-list { 
}

.map-div {
  display: block;
  border: 4px solid;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.trail-tile:hover {
  box-shadow: 8px 8px 1px;
}

.other-info {
  visibility: visible;
  margin: 15px;
}

.last-updated-heading {
  margin-top: 10px;
}

.navigation-tabs {
  position: relative;
  right: -10px;
  display: inline-block;
}

.nav-tab {
  background-color: black;
  color: white !important;
  padding: 5px;
  border: 3px solid black;
  border-radius: 5px;
  margin-right: 10px;
}

.nav-tab:hover {
  background-color: white;
  color: black !important;
  box-shadow: 5px 5px 1px;
}

.trail-tile:hover .view-trail-icon {
  visibility: visible;
}

.view-trail-icon:hover {
  transform: scale(1.2);
  opacity: 1;
  cursor: pointer;
}

.view-trail-icon {
  visibility: hidden;
  position: absolute;
  display: inline-block;
  width: 4%;
  margin-left: 15px;
  opacity: 0.75;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: black; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black; 
}

/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
  border: 3px solid black;
}

.tab {
  width: 100%;
  color: black;
  overflow: hidden;
}
.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: white;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 0;
  /* Icon */
}
.tab-label:hover {
  background: black;
  color: white;
}
.tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all .35s;
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #2c3e50;
  background: white;
  transition: all .35s;
}
.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}
.tab-close:hover {
  background: #1a252f;
}

input:checked + .tab-label {
  background: black;
  color: white;
}
input:checked + .tab-label::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}