@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bungee&display=swap');body {
  position: relative;
  margin: 0 0 0 0px;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  overflow: hidden;
}
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  /*padding-bottom: 2.5rem;    /* Footer height */
}

#header {
  top: 0;
  background-color: black;
  border: 3px solid black;
  border-bottom: 4px solid black;
  height: 10vh;
}

#logo {
  display: inline-block;
  font-family: 'Bungee', cursive;
  position: relative;
  font-size: 30px;
  padding: 15px 0px 15px 20px;
  color: white;
}

.nav-tabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  /*height: 100%;*/
}

.nav-tab {
  font-family: 'Staatliches', cursive;
  font-size: 20px;
  float: left;
  align-content: center;
  height: 100%;
  padding: 20px 25px 0px 25px;
}

.nav-tab-link {
  display: grid;
  position: relative;
  color: white !important;
  text-decoration: none;
  font-size: 20px;
  text-align: center; 
}

.nav-tab-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav-tab-link:hover {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.nav-tab-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#sidebar {
  background-color: white;
  border: 4px solid black;
  border-top: 0;
  position: relative;
  display: block;
  width: 575px;
  overflow-y: auto;
  overflow-x: hidden;
  float: left;
  padding-top: 25px;
  padding-left: 5px;
}

#sidebar, #content {
  height: 90vh; 
}

.segment-status {
  padding-left: 350px;
  color: red;
}

.segment-difficulty {
  height: 25px; 
}

#content {
  background-color: white;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  overflow: hidden;
}

#footer {
  background-color: white;
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: 100%;/* Footer height */
  margin: 0 auto;
  border-left: 3px solid black;
  border-right: 3px solid black;
}

#segment-list { 
}

.map-div {
  display: block;
  border: 4px solid;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: black; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black; 
}

/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
  border: 3px solid black;
}

.tab {
  width: 100%;
  color: black;
  overflow: hidden;
}
.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: white;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 0;
  /* Icon */
}
.tab-label:hover {
  background: black;
  color: white;
}
.tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all .35s;
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #2c3e50;
  background: white;
  transition: all .35s;
}
.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}
.tab-close:hover {
  background: #1a252f;
}

input:checked + .tab-label {
  background: black;
  color: white;
}
input:checked + .tab-label::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
